.App {
    text-align: left;
}
.api-response {
    color: #000;
    text-align: left;
}
.slds-scope .datepicker .slds-dropdown-trigger {
    display: block;
}
.object-card-details li {
    display: inline-block;
    padding: 0px 2rem;
}
.object-card-details li:first-child {
    padding-left: 0px;
}
.slds-scope div .card-border {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(201, 201, 201) !important;
    border-radius: 0.25rem;
}
.slds-scope div .dropdown-more-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    border-left: 0px;
}
.slds-scope .dropdown-more-button button {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #fff;
}
.slds-scope button.dropdown-more-button-adjacent {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;    
}
.slds-card-details-header .slds-card__header {
    background-color: #f3f3f3;
    margin-bottom: 0px;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem 0.25rem 0px 0px;
}
.slds-camaign-history-card .slds-card__body {
    margin-top: 0px;
    overflow-x: auto;
}

.slds-scope .readonly_mode .slds-input__icon_right {
    pointer-events: all !important;
}
.slds-scope .readonly_mode .slds-input-has-icon_right.slds-input-has-icon:hover {
    cursor: pointer;
}
.slds-scope .readonly_mode .slds-input-has-icon_right.slds-input-has-icon:hover .slds-input__icon_right path {
    fill: #706e6b;
}
.slds-scope .readonly_mode .slds-form-element {
    border-bottom: 1px solid #e5e5e5;
}
.slds-scope .readonly_mode .slds-form-element:hover {
    cursor: pointer;
}
.slds-scope .readonly_mode .slds-form-element:hover .slds-input__icon_right path {
    fill: #706e6b;    
}
.slds-scope .readonly_mode .slds-form-element input:focus, .slds-scope .readonly_mode .slds-form-element input, 
.slds-scope .readonly_mode .slds-form-element .slds-textarea, .slds-scope .readonly_mode .slds-form-element .slds-input {
    border: none !important;
    box-shadow: none !important;
}
.slds-scope .readonly_mode .slds-form-element .slds-input__icon_right:hover {
    fill: #b4b2b0;
}
.slds-scope .readonly_mode .slds-form-element .slds-combobox_container {
    border: none;
}
.slds-scope .readonly_mode .slds-form-element .slds-combobox_container input {
    padding-left: 0px !important;
}
.slds-scope .readonly_mode .slds-form-element .slds-combobox_container .slds-input__icon_right,
.slds-scope .readonly_mode .slds-form-element .slds-combobox_container .slds-combobox__input-entity-icon {
    display: none;
}
.slds-scope .readonly_mode .slds-form-element .slds-textarea {
    padding: 5px 0px 0px 0px;
    resize: none;
    line-height: 0.6;    
}
.slds-scope .readonly_mode .slds-form-element .slds-checkbox_faux {
    box-shadow: none !important;
}
.slds-scope .readonly_mode .slds-required {
    display: none;
}
.slds-scope .slds-form-card .slds-card__footer {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    bottom: 0px;
    background: rgba(236, 235, 234, 0.9);
    right: 0;
    width: initial;
    z-index: 4;
}
.slds-scope .slds-form-card.slds-card {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.slds-scope .slds-form-card.slds-card .slds-card__body {
    margin-bottom: 0px;    
}
.slds-scope .slds-form-card.slds-card .slds-card__header{
    padding-top: 0px;
}
.slds-scope .slds-form-card-no-header .slds-card__header {
    display: none;
}
.slds-scope .slds-button.card-hierarchy-icon {
    background-color: #fff;
    margin-top: -10px;
}
.slds-display_flex {
    display: flex;
}
.slds-display_inline-flex {
    display: inline-flex;
}
.slds-justify_content-center {
    justify-content: center;
}
.slds-justify_content-space-between {
    justify-content: space-between;
}
.slds-align_items-center {
    align-items: center;
}
.customize-combobox .slds-is-selected .slds-media__figure {
    display: none;
}
#root .slds-scope .slds-global-header_container {
    position: static;
}
.slds-custom-navigation-close {
    display: none !important;
}
.slds-custom-menu-button {
    display: none !important;
}
html, body {
    overflow-x: hidden;
}
.slds-scope .slds-global-header__logo {
    height: 40px;
    align-self: center;
}
.slds-custom-table-container {
    & .slds-custom-table {
        & .slds-checkbox {
            text-align: left;
        }
    }
}
.slds-scope .slds-th__action_form,
.slds-scope .slds-th__action--form {
    padding: 0px;
}
.slds-scope .slds-th__action_form:hover,
.slds-scope .slds-th__action--form:hover {
    background-color: transparent;
}
.slds-scope .slds-table_cell-buffer tr>th:first-child,
.slds-scope .slds-table--cell-buffer tr>th:first-child{
    height: auto;
    text-align: left;
}
@media screen and (max-width: 1024px) {
    .slds-scope .slds-context-bar .slds-custom-primary-navigation {
        height: 100vh;
        position: fixed;
        min-width: 200px;
        right: -220px;
        transition: all 0.3s ease;
        border-left: 1px solid #f5f5f5;
        background-color: #fff;
        box-shadow: -1px 0px 10px 1px #f5f5f5;
        top: 0px;
        z-index: 100;
        border-bottom: 0px;
        &.slds-open-menu {
            right: 0px;
            & .slds-navigation-popover {
                display: block;
            }
        }
        & .slds-grid {
            flex-direction: column;
            width: 100%;
        }
        & .slds-context-bar__item {
            max-width: 100%;
            padding: 10px 5px;
        }
        & .slds-custom-navigation-close {
            display: block !important;
            position: absolute;
            right: 0px;
            top: 4px;
            background-color: transparent !important;
            z-index: 101;
        }
    }
    & .slds-navigation-popover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: calc( 100% - 200px);
    display: none;
    z-index: 90;
}
.slds-open-menu {
    & .slds-navigation-popover {
        display: block;
    }
}
    .slds-custom-menu-button {
        display: block !important;
        position: absolute !important;
        right: 20px;
        top: 2px;
    }
    .slds-activity-container {
        padding: 0px !important;
        margin-top: 15px;
        & .card-border.slds-m-left_x-small {
            margin-left: 0px;
        }
    }
    .object-card-details li {
        padding: 0px 2rem 0px 0px;
    }
    .slds-custom-table-container {
        overflow: auto;
        & .slds-table_header-fixed_scroller {
            overflow: hidden !important;
        }
        & .card-details-header {
            width: 1024px;
        }
        & .slds-custom-table {
            width: 1024px;
        }
    }
}

@media screen and (max-width: 805px) {
    .slds-card-object-details-header {
        & .slds-card__header {
            flex-direction: column;
        }
    }
    /* .card-details-header {
        & .slds-page-header__row {
            flex-direction: column;
        }
        & .slds-page-header__col-meta {
            align-self: flex-start;
        }
        & .slds-page-header__col-actions,
        & .slds-page-header__col-controls {
            align-self: flex-start;
            margin-top: 10px;
        }
        & .slds-page-header__control {
            margin-left: 0px;
        }
    } */
}

@media screen and (max-width: 605px) {
    .object-card-details {
        & li {
            display: block;
            padding: 0px;
            & p {
                display: inline-block;
                &:first-child {
                    width: 100px;
                }
            }
            &+li {
                margin-top: 10px;
            }
        }
    }
}